*,
*::after,
*::before {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  background-color: #212121;
  box-sizing: border-box;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes bottomAnimation {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes topAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 10rem;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(189, 189, 189, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}
.heading {
  font-size: 3.5rem;
  color: #E0E0E0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
@media (max-width: 56.25em) {
  .heading {
    font-size: 1.5rem;
  }
}
@media (max-width: 37.5em) {
  .heading {
    font-size: 1rem;
  }
}

.heading-medium {
  font-size: 2rem;
  color: #E0E0E0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
@media (max-width: 56.25em) {
  .heading-medium {
    font-size: 1.5rem;
  }
}
@media (max-width: 37.5em) {
  .heading-medium {
    font-size: 1rem;
  }
}

.paragraph {
  font-size: 1rem;
  color: #028a0f;
  font-family: "Fira Code", monospace;
  font-weight: 400;
  margin-bottom: 1rem;
}
@media (max-width: 37.5em) {
  .paragraph {
    font-size: 0.9rem;
  }
}

.heading-small {
  font-size: 1rem;
  color: #BDBDBD;
  font-family: "Fira Code", monospace;
  font-weight: 400;
  margin: 1rem 0;
  line-height: 1.5rem;
}
.heading-small__link:hover {
  color: #028a0f;
}
@media (max-width: 56.25em) {
  .heading-small {
    font-size: 0.8rem;
  }
}
@media (max-width: 37.5em) {
  .heading-small {
    font-size: 0.5rem;
  }
}

.heading-small-dark {
  font-size: 1rem;
  color: #757575;
  font-family: "Fira Code", monospace;
  font-weight: 400;
  margin: 1rem 0;
}
.heading-small-dark__link:hover {
  color: #028a0f;
}
@media (max-width: 56.25em) {
  .heading-small-dark {
    font-size: 0.8rem;
  }
}
@media (max-width: 37.5em) {
  .heading-small-dark {
    font-size: 0.5rem;
  }
}
.heading-small-dark__left {
  float: right;
}

.btn {
  padding: 0.5rem 1rem;
  border: 1px solid #028a0f;
  border-radius: 2rem;
  background-color: transparent;
  cursor: pointer;
  color: #BDBDBD;
  font-family: "Fira Code", monospace;
}
.btn__link {
  color: #BDBDBD;
  font-family: "Fira Code", monospace;
}
.btn__link:hover {
  color: #E0E0E0;
  transition: 1s;
}
@media (max-width: 75em) {
  .btn {
    padding: 0.4rem 0.8rem;
  }
}
@media (max-width: 56.25em) {
  .btn {
    padding: 0.3rem 0.7rem;
  }
}

.btn--dark {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #272727;
  color: #BDBDBD;
  font-family: "Fira Code", monospace;
  cursor: pointer;
}
.btn--dark:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border: none;
  color: #BDBDBD;
}
.btn--dark:active {
  transform: translateY(-0.1rem);
}
.btn--dark:link {
  padding: 1rem 2rem;
  display: inline-block;
  transition: all 0.2s;
}
.btn--dark:visited {
  padding: 1rem 2rem;
  display: inline-block;
  transition: all 0.2s;
}

.btn-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  perspective: 170rem;
  -moz-perspective: 170rem;
  position: relative;
  height: 25rem;
}
.card__side {
  color: #ffffff;
  font-size: 1.5rem;
  height: 30rem;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #272727;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #9BBEC8, #427D9D);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #25713c, #104622);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2d5dcd, #1c4494);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 12rem;
}
.card__picture--1 {
  background-image: url(../img/flip1.jpg);
}
.card__picture--2 {
  background-image: url(../img/flip2.jpg);
}
.card__picture--3 {
  background-image: url(../img/flip3.jpg);
}
.card__heading {
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #ffffff;
  position: absolute;
  top: 9rem;
  right: 1rem;
  width: 75%;
}
.card__heading-span {
  padding: 0.2rem 0.7rem;
  font-family: "Raleway", sans-serif;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(155, 190, 200, 0.5), rgba(66, 125, 157, 0.5));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(37, 113, 60, 0.5), rgba(16, 70, 34, 0.5));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(45, 93, 205, 0.5), rgba(28, 68, 148, 0.5));
}
.card__details {
  padding: 2.5rem;
}
.card__details p {
  text-align: center;
  padding: 0.5rem;
  color: #757575;
  line-height: 1.3rem;
  font-size: 0.9rem;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  font-size: 1rem;
}
.card__name-box {
  text-align: center;
  margin-bottom: 2.5rem;
  font-family: "Fira Code", monospace;
  color: #212121;
}
.card__price-name {
  text-transform: uppercase;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 2rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__name-box {
    margin-bottom: 3rem;
  }
}

.js-projects-box {
  background-color: #272727;
  font-size: 1.5rem;
  padding: 3.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.5s;
  cursor: pointer;
}
.js-projects-box p {
  color: #757575;
  margin-top: 1rem;
}
@media (max-width: 56.25em) {
  .js-projects-box {
    padding: 2rem;
  }
}
.js-projects-box__icon {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #757575, #212121);
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 56.25em) {
  .js-projects-box__icon {
    margin: 0;
  }
}
.js-projects-box:hover {
  transform: translateY(-1rem) scale(1);
}

.socials {
  position: fixed;
  bottom: 1rem;
  animation: bottomAnimation;
  animation-duration: 2s;
}
.socials__icons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.socials__link {
  color: #757575;
  margin-bottom: 1.3rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
}
.socials__link:last-child {
  margin-bottom: 5rem;
}
.socials__link:hover {
  color: #028a0f;
  transform: translateY(-0.3rem);
  transition: all 0.3s;
}
.socials hr {
  transform: rotate(90deg);
  width: 7.5rem;
  margin: 0;
  height: 1.5px;
  border: none;
  background-image: linear-gradient(to left, #BDBDBD, #272727);
  -webkit-background-clip: line;
  color: transparent;
}

.typewriter-text {
  overflow: hidden;
  width: 10rem;
  border-right: 2px solid rgba(189, 189, 189, 0.75);
  white-space: nowrap;
}
@media (max-width: 56.25em) {
  .typewriter-text {
    width: 8rem;
  }
}
@media (max-width: 37.5em) {
  .typewriter-text {
    width: 5.5rem;
  }
}

.animated {
  animation: typewriter 1.5s steps(7) 0.5s 1 normal, blinkTextCursor 800ms infinite steps(7) normal;
}

.education {
  position: relative;
  top: 58rem;
}
.education__text {
  text-align: center;
  margin: 1rem;
}
.education__tree {
  margin-top: 5rem;
}
.education__tree hr {
  transform: rotate(90deg);
  position: relative;
  top: 45rem;
}
.education__tree img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #757575;
  margin-bottom: 17rem;
}
.education__tree__item {
  padding-bottom: 2rem;
}
.education__tree .grid-text {
  padding: 0 2rem;
}
.education__img {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 46%;
  transform: translateX(-46%);
}
.education .third {
  padding-top: 6rem;
}
.education .fourth {
  padding-top: 3.5rem;
}
.education .fifth {
  padding-top: 4rem;
}
.education .leftitem .slide-left {
  animation-name: moveInLeft;
  animation-duration: 1s;
}
.education .rightitem .slide-right {
  animation-name: moveInRight;
  animation-duration: 1s;
}
@media (max-width: 75em) {
  .education__tree {
    margin: 5rem 13rem;
    float: left;
  }
  .education__tree hr {
    display: none;
  }
  .education__tree img {
    display: none;
  }
  .education__tree .grid-text {
    padding: 0 2rem;
    float: right;
  }
  .education__img {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 5px;
    transform: translateX(0);
  }
}

.marquee-content {
  display: flex;
  animation: marquee 10s linear infinite running;
}
.marquee-content:hover {
  animation-play-state: paused;
}
.marquee-content__tag {
  margin: 0 1rem;
  padding: 0.5em;
  background: #757575;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.marquee-content__tag img {
  width: 400px;
}
.marquee-content__tag:hover {
  background: #BDBDBD;
  transform: scale(1.1);
  cursor: pointer;
}

.header {
  width: 100%;
  transition: 0.6s;
  animation: topAnimation ease-in-out;
  animation-duration: 1.7s;
}

.sticky {
  backdrop-filter: blur(30px);
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.3);
}

.nav {
  width: 40%;
  position: fixed;
  border-radius: 2rem;
  z-index: 10;
  transition: 0.6s;
  display: flex;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 75em) {
  .nav {
    width: 55%;
  }
}
@media (max-width: 56.25em) {
  .nav {
    width: 60%;
  }
}
@media (max-width: 37.5em) {
  .nav {
    width: 65%;
  }
}
.nav__left {
  width: 60%;
}
@media (max-width: 112.5em) {
  .nav__left {
    width: 65%;
  }
}
@media (max-width: 75em) {
  .nav__left {
    width: 70%;
  }
}
@media (max-width: 56.25em) {
  .nav__left {
    width: 75%;
  }
}
.nav__list {
  display: flex;
}
.nav__list li {
  padding: 1rem;
  color: #028a0f;
  font-family: "Fira Code", monospace;
  font-size: 13px;
}
@media (max-width: 112.5em) {
  .nav__list li {
    padding: 0.8rem;
    font-size: 12px;
  }
}
@media (max-width: 75em) {
  .nav__list li {
    padding: 0.7rem;
    font-size: 10px;
  }
}
@media (max-width: 56.25em) {
  .nav__list li {
    padding: 0.5rem;
    font-size: 9px;
  }
}
.nav__list li:hover {
  color: #03AC13;
  transition: 0.5s;
}
.nav__link {
  color: #BDBDBD;
  font-family: "Fira Code", monospace;
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 112.5em) {
  .nav__link {
    font-size: 12px;
  }
}
@media (max-width: 75em) {
  .nav__link {
    font-size: 10px;
  }
}
@media (max-width: 56.25em) {
  .nav__link {
    font-size: 9px;
  }
}
.nav__link:hover {
  color: #E0E0E0;
  transition: 0.5s;
}
.nav__right {
  width: 40%;
}
@media (max-width: 112.5em) {
  .nav__right {
    width: 35%;
  }
}
@media (max-width: 75em) {
  .nav__right {
    width: 30%;
  }
}
@media (max-width: 75em) {
  .nav__right {
    width: 25%;
  }
}
.nav__btn {
  float: right;
  margin-right: 1rem;
}
.nav__btn:hover {
  background-color: #024b0a;
  border: none;
  transition: 1s;
}

.row {
  max-width: 75rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 6rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row {
    max-width: 40rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 4rem;
}
@media (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((75rem - 4rem) / 2);
}
.row .col-1-of-3 {
  width: calc((75rem - 2 * 4rem) / 3);
}
.row .col-1-of-4 {
  width: calc((75rem - 3 * 4rem) / 4);
}
.row .col-2-of-3 {
  width: calc(2 * (75rem - 2 * 4rem) / 3 + 4rem);
}
.row .col-2-of-4 {
  width: calc(2 * (75rem - 3 * 4rem) / 4 + 4rem);
}
.row .col-3-of-4 {
  width: calc(3 * (75rem - 3 * 4rem) / 4 + 8rem);
}

.footer {
  max-width: 100%;
  position: relative;
  top: 77rem;
}
.footer hr {
  width: 50%;
  height: 1px;
  border: none;
  background-image: radial-gradient(#757575, #212121);
  -webkit-background-clip: line;
  color: transparent;
}
.footer__heading-small {
  padding: 1rem 0 2.5rem 0;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Fira Code", monospace;
}

.banner {
  max-width: 100%;
  position: relative;
}
.banner__text {
  position: absolute;
  top: 20rem;
  left: 15rem;
  max-width: 50rem;
  animation-name: moveInLeft;
  animation-duration: 2s;
}
@media (max-width: 75em) {
  .banner__text {
    top: 14rem;
    left: 10rem;
    max-width: 45rem;
  }
}
@media (max-width: 56.25em) {
  .banner__text {
    top: 13rem;
    left: 8rem;
    max-width: 30rem;
  }
}
@media (max-width: 37.5em) {
  .banner__text {
    top: 12rem;
    max-width: 25rem;
  }
}
.banner__text h3 {
  line-height: 1.3rem;
}

.about {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50rem;
}
@media (max-width: 75em) {
  .about {
    flex-direction: column;
  }
}
.about__photo {
  width: 50%;
}
@media (max-width: 75em) {
  .about__photo {
    width: 100%;
  }
}
.about__photo img {
  max-width: 80%;
  max-height: fit-content;
  object-fit: cover;
  margin: 0 9rem;
}
@media (max-width: 112.5em) {
  .about__photo img {
    margin: 0;
    max-width: 100%;
  }
}
.about__text {
  width: 37%;
  position: absolute;
  top: 5rem;
  left: 50rem;
  margin-left: 6rem;
}
.about__text p {
  line-height: 1.3rem;
}
@media screen and (max-height: 1370px) {
  .about__text {
    left: 45rem;
  }
}
@media (max-width: 75em) {
  .about__text {
    position: relative;
    left: 0;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 5rem;
  }
}

@media (max-width: 56.25em) {
  .work {
    padding: 10rem 0;
  }
}

.projects {
  position: relative;
  top: 62rem;
}
.projects__text {
  text-align: center;
  margin: 5rem 0;
}

.skills {
  position: relative;
  top: 69rem;
  width: 100%;
}
.skills__text {
  text-align: center;
  margin-top: 8rem;
}
.skills__items {
  max-width: 54%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills__items img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}
.skills__item {
  width: 8rem;
  margin: 3rem 0;
  text-align: center;
  filter: grayscale(1);
  cursor: pointer;
}
.skills__item i {
  font-size: 3rem;
}
.skills__item:hover {
  filter: saturate(1);
}

.marquee {
  position: relative;
  top: 70rem;
  background: linear-gradient(-135deg, #757575, #212121);
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  color: white;
  font-weight: 200;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.js-projects {
  position: relative;
  top: 69rem;
}
.js-projects__text {
  text-align: center;
  margin: 8rem;
}
@media (max-width: 56.25em) {
  .js-projects {
    padding: 8rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
