//colors
$color-dark: #212121;
$color-light:  #757575;
$color-lighter: #BDBDBD;
$color-lighter2: #E0E0E0;


$color-primary: #028a0f;
$color-primary-light: #03AC13;
$color-primary-dark: #024b0a;

// $color-primary:;
$color-white: #ffffff;
$color-black: #000000;


$font-family-small: "Fira Code", monospace;
$font-family-big: "Raleway", sans-serif;