//colors
$color-dark: #212121;
$color-light:  #757575;
$color-lighter: #BDBDBD;
$color-lighter2: #E0E0E0;

$color-primary-blue: #427D9D;
$color-light-blue:  #9BBEC8;
$color-dark-blue: #164863;

$color-tertiary-light: #25713c;
$color-tertiary-dark: #104622;

$color-light-blue2:  #2d5dcd;
$color-dark-blue2: #1c4494;

$color-grey-dark: #5c5b5b;
$color-grey-dark-2: #272727;

$color-primary: #028a0f;
$color-primary-light: #03AC13;
$color-primary-dark: #024b0a;

$color-white: #ffffff;
$color-black: #000000;

//font
$font-family-small: "Fira Code", monospace;
$font-family-big: "Raleway", sans-serif;

//grid
$grid-width: 75rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 4rem;
$gutter-horisontal: 4rem;