.header {
    width: 100%;
    transition: 0.6s;
}

.sticky {
    backdrop-filter: blur(30px);
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.3);
}

.nav {
    width: 50%;
    position: fixed;
    border-radius: 2rem;
    z-index: 10;
    transition: 0.6s;
    display: flex;
    left: 50%;
    top: 2rem;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;

    &__left {
        width: 60%;
    }

    &__list {
        display: flex;

        li {
            padding: 1rem;
            color: $color-primary;
            font-family: $font-family-small;
            font-size: 13px;
        }

        li:hover {
            color: $color-primary-light;
            transition: .5s;
        }
    }

    &__link {
        color: $color-lighter;
        font-family: $font-family-small;
        font-weight: 400;
        font-size: 14px;

        &:hover  {
            color: $color-lighter2;
            transition: .5s;
        }
    }

    &__right {
        width: 40%;
    }

    &__btn {
        float: right;
        margin-right: 1rem;

        &:hover {
            background-color: $color-primary-dark;
            border: none;
            transition: 1s;
        }
    }
}