.header {
  width: 100%;
  transition: 0.6s;

  animation: topAnimation ease-in-out;
  animation-duration: 1.7s;
}

.sticky {
  backdrop-filter: blur(30px);
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.3);
}

.nav {
  width: 50%;
  position: fixed;
  border-radius: 2rem;
  z-index: 10;
  transition: 0.6s;
  display: flex;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
  justify-content: space-between;
  align-items: center;

  @include respond(big-desktop) {
    width: 55%;
    padding: 20px;
  }

  @include respond(tab-land) {
    width: 55%;
    padding: 15px;
  }

  @include respond(tab-port) {
    width: 60%;
    padding: 15px;
  }

  @include respond(phone) {
    width: 75%;
    padding: 10px;
  }

  @include respond(phones) {
    width: 78%;
    padding: 2px;
  }

  &__left {
    width: 60%;

    @include respond(big-desktop) {
      width: 65%;
    }

    @include respond(tab-land) {
      width: 70%;
    }

    @include respond(tab-port) {
      width: 75%;
    }
  }

  &__list {
    display: flex;

    li {
      padding: 1rem;
      color: $color-primary;
      font-family: $font-family-small;
      font-size: 17px;

      @include respond(big-desktop) {
        padding: 0.8rem;
        font-size: 20px;
      }

      @include respond(tab-land) {
        padding: 0.7rem;
        font-size: 17px;
      }

      @include respond(tab-port) {
        padding: 0.5rem;
        font-size: 12px;
      }

      @include respond(phone) {
        padding: 0.5rem;
        font-size: 9px;
      }

      @include respond(phones) {
        padding: 0.3rem;
        font-size: 2px;
      }
    }

    li:hover {
      color: $color-primary-light;
      transition: 0.5s;
    }
  }

  &__link {
    color: $color-lighter;
    font-family: $font-family-small;
    font-weight: 400;
    font-size: 14px;

    @include respond(big-desktop) {
      font-size: 17px;
    }

    @include respond(tab-land) {
      font-size: 12px;
    }

    @include respond(tab-port) {
      font-size: 9px;
    }

    @include respond(phone) {
      font-size: 7px;
    }

    @include respond(phones) {
      font-size: 3px;
    }

    &:hover {
      color: $color-lighter2;
      transition: 0.5s;
    }
  }

  &__right {
    width: 40%;

    @include respond(big-desktop) {
      width: 35%;
    }

    @include respond(tab-land) {
      width: 30%;
    }

    @include respond(tab-land) {
      width: 25%;
    }
  }

  &__btn {
    float: right;
    margin-right: 1rem;

    &:hover {
      background-color: $color-primary-dark;
      border: none;
      transition: 1s;
    }
  }
}
