.card {
    perspective: 170rem;
    -moz-perspective: 170rem;
    position: relative;
    height: 25rem;

    &__side {
        color: $color-white;
        font-size: 1.5rem;
        height: 30rem;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-grey-dark-2;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image:  linear-gradient(to right bottom, $color-light-blue, $color-primary-blue);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-fourthiary-light, $color-fourthiary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-light-blue2, $color-dark-blue2);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__picture {
        background-size: cover;
        height: 12rem;

        &--1 {
            background-image: url(../img/flip1.jpg);
        }

        &--2 {
            background-image: url(../img/flip2.png);
        }

        &--3 {
            background-image: url(../img/flip3.jpg);
        }
    }

    &__heading {
        font-size: 1.3rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 9rem;
        right: 1rem;
        width: 75%;

    }

    &__heading-span {
        padding: .2rem .7rem;
        font-family: $font-family-big;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-light-blue, .5), rgba($color-primary-blue, .5));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-fourthiary-light, .5), rgba($color-fourthiary-dark, .5));
        }

        &--3 {
            background-image: linear-gradient(to right bottom,  rgba($color-light-blue2, .5), rgba($color-dark-blue2, .5));
        }
    }

    &__details {
        padding: 2.5rem;

        p {
            text-align: center;
            padding: .5rem;
            color: $color-light;
            line-height: 1.3rem;
            font-size: .9rem;
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        font-size: 1rem;
    }

    &__name-box {
        text-align: center;
        margin-bottom: 2.5rem;
        font-family: $font-family-small;
        color: $color-dark;
    }

    &__price-name {
        text-transform: uppercase;
    }

    @include respond(tab-port) {
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1rem 4rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;


            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 2rem 3rem;
        }

        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__name-box {
            margin-bottom: 3rem;
        }
    }
}