.marquee-content {
    display: flex;
    animation: marquee 10s linear infinite running;

    &:hover{
        animation-play-state: paused;
    }

    &__tag {
        margin: 0 1rem;
        padding: .5em;
        background: $color-light;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all .2s ease;

        img {
            width: 400px;

        }

        &:hover {
            background: $color-lighter;
            transform: scale(1.1);
            cursor: pointer;
        }
    }

}
    
    
      

  
   
    
      
  
    
    
