.education {
  position: relative;
  top: 58rem;

  @include respond(tab-land) {
    top: 50rem;
  }

  @include respond(tab-port) {
    top: 42rem;
  }

  @include respond(phone) {
    top: 30rem;
  }

  @include respond(phones) {
    top: 30rem;
  }

  &__text {
    text-align: center;
    margin: 1rem;
  }

  &__tree {
    margin-top: 5rem;

    &__item {
      padding-bottom: 2rem;
    }

    .grid-text {
      padding: 0 2rem;
    }
  }

  .leftitem {
    .slide-left {
      animation-name: moveInLeft;
      animation-duration: 1s;

      @include respond(phone) {
        animation: none;
      }

      @include respond(phones) {
        animation: none;
      }

      @include respond(tab-port) {
        animation: none;
      }
    }
  }

  .rightitem {
    .slide-right {
      animation-name: moveInRight;
      animation-duration: 1s;

      @include respond(phone) {
        animation: none;
      }

      @include respond(phones) {
        animation: none;
      }

      @include respond(tab-port) {
        animation: none;
      }
    }
  }

  @include respond(tab-land) {
    &__tree {
      margin: 5rem 17rem;
      float: left;

      .grid-text {
        padding: 0 2rem;
        float: right;
      }
    }
  }

  @include respond(tab-port) {
    &__tree {
      margin: 4rem 6rem;
      float: left;

      .grid-text {
        padding: 0 1rem;
        float: right;
      }
    }
  }

  @include respond(phone) {
    &__tree {
      margin: 3rem 3rem;
      float: left;
    }
  }

  @include respond(phones) {
    &__tree {
      margin: 3rem 2rem;
      float: left;
    }
  }
}
