@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes bottomAnimation {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes topAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typewriter {
    0% {
        width: 0;
    }

    100% {
        width: 10rem;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba($color-lighter, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}