.banner {
    width: 100%;
    position: relative;

    &__text {
        position: absolute;
        top: 20rem;
        left: 15rem;

        animation-name: moveInLeft;
        animation-duration: 2s;
    }
}

.about {
    display: flex;
    justify-content: space-between;
    top: 200rem;

    &__photo {
        width: 50%;

        img {
            width: 50%;
        }
    }

    &__text {
        width: 50%;
    }
}