.banner {
    width: 100%;
    position: relative;

    &__text {
        position: absolute;
        top: 20rem;
        left: 15rem;

        animation-name: moveInLeft;
        animation-duration: 2s;
    }
}

.about {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50rem;

    &__photo {
        width: 50%;

        img {
            width: 100%;
        }
    }

    &__text {
        width: 40%;
        position: absolute;
        top: 20rem;
        left: 50rem;


        animation-name: moveInRight;
        animation-duration: 2s;
    }
}